
Tietokone_Paketti/nbproject/project.xml
Tietokone_Paketti/nbproject/project.properties
Tietokone_Paketti/nbproject/private/private.xml
Tietokone_Paketti/nbproject/private/private.properties
Tietokone_Paketti/nbproject/genfiles.properties
Tietokone_Paketti/nbproject/build-impl.xml
Tietokone_Paketti/manifest.mf
Tietokone_Paketti/build/classes/tietokone_paketti/Tietokone_Paketti.class
Tietokone_Paketti/build/classes/.netbeans_update_resources
Tietokone_Paketti/build/classes/.netbeans_automatic_build
Tietokone_Paketti/build.xml
